[submodule "glad"]
	path = LeopphEngine/vendor/glad
	url = https://github.com/Dav1dde/glad.git
	branch = master
	ignore = dirty
[submodule "glfw"]
	path = LeopphEngine/vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "physx"]
	path = LeopphEngine/vendor/physx
	url = https://github.com/NVIDIAGameWorks/PhysX.git
	branch = 4.1
	ignore = dirty
